<!--Nhóm 9: Phần footer-->
<footer>
  <div class="footer-logo">
    <div><em>Jundoku</em></div>
    <div>皆様の本</div>
  </div>
  <div class="footer-content">
    <!--Nhóm 9: Các thanh điều hướng sang các trang khác-->
    <div class="footer-section">
      <h3 data-i18n="nav-about">About Us</h3>
      <ul>
        <li data-i18n="footer-aboutus-add">
          📍 123 Harmony Street, District 1, Ho Chi Minh City
        </li>
        <li>📞 (+84) 123 456 789</li>
        <li>📧 support@jundoku.com</li>
        <li>🕒 8:00 AM – 9:00 PM (Mon – Sun)</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3 data-i18n="footer-categories">Shop by Category</h3>
      <ul>
        <li>
          <a href="#" class="nav-link" data-target="typologies/category.html?cat=fiction">Fiction</a>
        </li>
        <li>
          <a href="#" class="nav-link" data-target="typologies/category.html?cat=non-fiction">Non-fiction</a>
        </li>
        <li>
          <a href="#" class="nav-link" data-target="typologies/category.html?cat=business">Business</a>
        </li>
        <li><a href="#" class="nav-link" data-target="typologies/category.html?cat=self-help">Self-help</a></li>
        <li>
          <a href="#" class="nav-link" data-target="typologies/category.html?cat=science">Science & Tech</a>
        </li>
        <li><a href="#" class="nav-link" data-target="typologies/category.html?cat=manga">Manga & Comics</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3 data-i18n="footer-policies">Policies & Support</h3>
      <ul>
        <li>
          <a href="#" class="nav-link" data-target="policies/policies.html" data-i18n="footer-policies-warranty"
            >Warranty Policy</a
          >
        </li>
        <li>
          <a href="#" class="nav-link" data-target="policies/policies.html" data-i18n="footer-policies-return"
            >Return & Exchange</a
          >
        </li>
        <li>
          <a href="#" class="nav-link" data-target="policies/policies.html" data-i18n="footer-policies-shipping"
            >Shipping Policy</a
          >
        </li>
        <li>
          <a href="#" class="nav-link" data-target="policies/policies.html" data-i18n="footer-policies-order"
            >How to Order</a
          >
        </li> 
        <li>
          <a href="#" class="nav-link" data-target="policies/policies.html" data-i18n="footer-policies-privacy"
            >Privacy Policy</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span>© 2025 JUNDOKU – All rights reserved.</span>
    <div class="social-icons">
      <div class="social-icon">f</div>
      <div class="social-icon">in</div>
      <div class="social-icon">t</div>
    </div>
  </div>
</footer>
